<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biodent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS by me :) -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="d-flex flex row">

<!--- Nav Bar --->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-4 d-flex justify-content-between align-items-center">

        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='Images/png_of_BiodentIcon.png') }}" height="40" alt="Biodent">
        </a>

        <!-- Toggler for navbar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/conocenos">Conócenos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/servicios" role="button" data-bs-toggle="dropdown">Servicios</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Coronas</a></li>
                        <li><a class="dropdown-item" href="#">Carillas</a></li>
                        <li><a class="dropdown-item" href="#">Puentes</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link disabled" href="/mis-casos">Mis Casos</a></li>
                <li class="nav-item"><a class="nav-link" href="/contacto">Contáctanos</a></li>
            </ul>
        </div>
    </div>
</nav>


{% block content %}{% endblock %}

<!-- Footer -->
<footer class="d-flex justify-content-between align-items-center pt-3 pb-3 my-3 border-top container text-center">

    <!-- Left Section -->
    <div class="d-flex flex-column align-items-center col-md-4">
        <ul class="list-unstyled">
            <li>Servicios</li>
            <li>Mis Casos</li>
            <li>Contactanos</li>
        </ul>
    </div>

    <!-- Center Section -->
    <div class="d-flex justify-content-center col-md-4">
        <span class="text-body-secondary">&copy; 2025 | Zirdentsa</span>
    </div>

    <!-- Right Section -->
    <div class="d-flex flex-column align-items-center col-md-4">
        <ul class="list-unstyled">
            <li>Encuéntranos en circunvalación norte 227A Calle Primera</li>
            <li>Horarios de Atención de 8 am - 5 pm</li>
        </ul>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

</body>


<script>
    const hasBanner = {{ 'true' if banner else 'false' }};
</script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>