<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biodent</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="d-flex flex row">

<!--- Nav Bar --->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-3">
    <!-- biodent logo -->
    <div class="container-fluid d-flex p-3">
        <a class="navbar-brand" href="main-dashboard.html">Biodent</a>
    </div>

    <!-- navbar content -->
    <div class="container-fluid d-flex p-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item active">
                    <a class="nav-link" href="/inicio">Inicio </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/conocenos">Conócenos</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/servicios" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Servicios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Coronas</a></li>
                        <li><a class="dropdown-item" href="#">Carillas</a></li>
                        <li><a class="dropdown-item" href="#">Puentes</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="/mis-casos">Mis Casos</a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contactanos</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<!-- Footer -->
<footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-3 my-3 border-top">
    <div class="col-md-4 d-flex">
        <ul>
            <li>Servicios</li>
            <li>Mis Casos</li>
            <li>Contactanos</li>
        </ul>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2025 | Zirdentsa </span>
    </div>
    <div class="col-md-4 d-flex">
        <ul>
            <li class="mb-3 mb-md-0">Encuéntranos en circunvalación norte 227A Calle Primera</li>
            <li class="mb-3 mb-md-0">Horarios de Atención de 8 am - 5 pm</li>
        </ul>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>