{% extends "base.html" %}

{% block content %}


    <section class="py-2">
        <div class="container section-block animate">
            <div class="row justify-content-center text-center">
                <!-- Title: Recepción y Logística -->
                <div class="col-sm-3 px-3">
                    <div class="fs-3 fw-bold">Recepción y Logística</div>
                </div>

                <!-- Title: Área Administrativa spans 2 cols -->
                <div class="col-sm-6">
                    <div class="fs-2 fw-bold">Área Administrativa</div>
                </div>

                <!-- Title: Área Clínica -->
                <div class="col-sm-3 px-3">
                    <div class="fs-3 fw-bold">Área Clínica</div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Doménica -->
                <div class="col-sm-3 d-flex px-3">
                    <div class="team-container in-view shadow w-100">
                        <div class="team-content text-center">
                            <div class="team-images">
                                <img class="img-fluid rounded-circle" src="static/Images/team/Domenica.png">
                            </div>
                            <h5 class="fw-bold">Doménica</h5>
                            <div class="text-muted">Coordinación del flujo de trabajo y atención al cliente.</div>
                        </div>
                    </div>
                </div>

                <!-- Paola -->
                <div class="col-sm-3 d-flex">
                    <div class="team-container in-view shadow w-100">
                        <div class="team-content text-center">
                            <div class="team-images">
                                <img class="img-fluid rounded-circle" src="static/Images/team/Paola.png">
                            </div>
                            <h5 class="fw-bold">Paola</h5>
                            <div class="text-muted">Coordinación y control financiero.</div>
                        </div>
                    </div>
                </div>

                <!-- Jackie -->
                <div class="col-sm-3 d-flex">
                    <div class="team-container in-view shadow w-100">
                        <div class="team-content text-center">
                            <div class="team-images">
                                <img class="img-fluid rounded-circle" src="static/Images/team/JorgeA.jpg">
                            </div>
                            <h5 class="fw-bold">Jackie</h5>
                            <div class="text-muted">Facturación y cobranzas.</div>
                        </div>
                    </div>
                </div>

                <!-- Dra. Cindy -->
                <div class="col-sm-3 d-flex px-4">
                    <div class="team-container in-view shadow w-100">
                        <div class="team-content text-center">
                            <div class="team-images">
                                <img class="img-fluid rounded-circle" src="static/Images/team/Cindy.png">
                            </div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">Asistencia clínica y planificación de casos.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container section-block animate">
            <div class="row justify-content-center text-center">
                <div class="fs-3 fw-bold">Area de Diseño</div>
            </div>

            <div class="row justify-content-center">
                <!-- Area Clinica -->
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                (Director Técnico) Responsable general del laboratorio, área de diseño digital y control
                                de calidad.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Kerlly</h5>
                            <div class="text-muted">
                                Orden de ingreso digital e impresiones 3D. Area Clinica y Escaneo.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Michelle</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container section-block animate">
            <div class="row justify-content-center">
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                (Director Técnico) Responsable general del laboratorio, área de diseño digital y control
                                de calidad.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Kerlly</h5>
                            <div class="text-muted">
                                Orden de ingreso digital e impresiones 3D. Area Clinica y Escaneo.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Michelle</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container section-block animate">
            <div class="row justify-content-center">
                <div class="col-sm-3 px-1">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Michelle</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 px-1">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Michelle</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 px-1">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Michelle</h5>
                            <div class="text-muted">
                                Diseñadora CAD.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container section-block animate">
            <div class="row justify-content-center text-center">
                <div class="fs-3 fw-bold">Escáner Intraoral</div>
            </div>

            <div class="row justify-content-center">
                <!-- Area Clinica -->
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Kerlly</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Deisy</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="container section-block animate">
            <div class="row justify-content-center text-center">
                <div class="fs-3 fw-bold">Mensajería y Mantenimiento</div>
            </div>

            <div class="row justify-content-center">
                <!-- Area Clinica -->
                <div class="col-sm-3 d-flex px-1">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Luis</h5>
                            <div class="text-muted">
                                Encargado en envios y mantenimiento dentro del laboratorio.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 d-flex px-2">
                    <div class="team-container shadow w-100">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Darwin</h5>
                            <div class="text-muted">
                                Encargado en envios y mantenimiento del laboratorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </section>
{% endblock %}
