{% extends "base.html" %}

{% block content %}


    <section class="py-2">
        <div class="container section-block animate">
            <div class="d-flex justify-content-center">
                <div class="col-sm-4">
                    <div class="team-container in-view shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container in-view shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">
                                Area Clinica y Escaneo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container in-view shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Escaneo, Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">John Doe</h5>
                            <div class="text-muted">
                                HR Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container section-block animate">
            <div class="d-flex justify-content-center">
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">
                                Area Clinica y Escaneo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Escaneo, Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">John Doe</h5>
                            <div class="text-muted">
                                HR Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container section-block animate">
            <div class="d-flex justify-content-center">
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">
                                Area Clinica y Escaneo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Escaneo, Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">John Doe</h5>
                            <div class="text-muted">
                                HR Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container section-block animate">
            <div class="d-flex justify-content-center">
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">
                                Area Clinica y Escaneo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Escaneo, Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">John Doe</h5>
                            <div class="text-muted">
                                HR Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container section-block animate">
            <div class="d-flex justify-content-center">
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dr. Jorge</h5>
                            <div class="text-muted">
                                Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Dra. Cindy</h5>
                            <div class="text-muted">
                                Area Clinica y Escaneo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">Allison</h5>
                            <div class="text-muted">
                                Escaneo, Diseño
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-container shadow">
                        <div class="team-content">
                            <div class="team-images"><img class="img-fluid rounded-circle"
                                                          src="static/Images/team/JorgeA.jpg"></div>
                            <h5 class="fw-bold">John Doe</h5>
                            <div class="text-muted">
                                HR Manager
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
{% endblock %}
