{% extends "base.html" %}

{% block content %}

    <!-- Hero Banner -->
    <div class="hero-banner hero-content d-flex flex-column align-items-center">
        <div class="centered">
            <h1 class="fw-bold centered font-times">BIODENT</h1>
            <h5 class="text-light centered font-times">"Innovación con experiencia"</h5>
        </div>

        <div class=" arrow-down pb-3">
            <i class="bi bi-arrow-down"></i>
        </div>

        <video class="video-bg" autoplay muted loop>
            <source src="static/Videos/Banner_Video1.mp4"
                    type="video/mp4">
        </video>
    </div>


    <!-- About us -->

    <div class="section-block d-flex justify-content-center align-items-center" style="background-color: lightgray">
        <div class="text-center" style="max-width: 600px;">
            <i class="bi bi-info-circle-fill fs-2"></i>
            <h3 class="lh-base fw-bold p-2 font-times">Sobre Nosotros</h3>
            <h5 class="lh-base fw-light font-times">
                Comenzamos hace más de 50 años de experiencia trabajando con productos I.Max, combinando tecnología de
                vanguardia con la artesanía dental tradicional.
                Nuestro laboratorio se ha dedicado a ofrecer soluciones personalizadas, precisas y estéticas para cada
                paciente.
                A lo largo de las décadas, hemos perfeccionado técnicas innovadoras en diseño y fabricación de prótesis,
                carillas y coronas, garantizando calidad, durabilidad y una sonrisa natural.
                En Biodent, la excelencia no es una opción, es nuestro estándar.
            </h5>
        </div>
    </div>


    <!-- Index of Services -->
    <div class="container section-block" style="background-color: #00072D">
        <div class="row m-4 p-2">
            <h3 class="text-center text-light mx-auto mb-2 p-4">Que Ofrecemos?</h3>
        </div>
        <div class="row justify-content-around m-4 p-2 text-center">
            <div class="col-md-2">
                <div class="card text-center border-0 shadow rounded-0 p3" style="width: 18rem;">
                    <img src="static/Images/servicios.jpg" class="" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Zirconia CAD/CAM</h5>
                        <a href="#" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center border-0 shadow rounded-0 p3" style="width: 18rem;">
                    <img src="static/Images/servicios.jpg" class="" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Emax - Ceramica</h5>
                        <a href="#" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center border-0 shadow rounded-0 p3" style="width: 18rem;">
                    <img src="static/Images/servicios.jpg" class="" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Modelos Impresos</h5>
                        <a href="#" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center border-0 shadow rounded-0 p3" style="width: 18rem;">
                    <img src="static/Images/servicios.jpg" class="" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Implant Abutments</h5>
                        <a href="#" class="btn btn-primary">Mas info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Why Work with Us & Testimonials  #Bootstrap Example-->
    <!-- src = https://bootstrapbrain.com/component/bootstrap-about-us-section-snippet-example/#code -->

    <section class="py-3 py-md-5">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid rounded" loading="lazy" src="static/Images/Contactans.jpg" alt="...">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-10">
                            <h2 class="mb-3">¿Por qué dentistas buscan trabajar con nosotros?</h2>
                            <p class="lead fs-4 mb-3 mb-xl-5">Con años de experiencia biodent ha logrado generar miles
                                de casos exitosos. Lideramos en ventas en no solo Guayaquil pero somos uno de los
                                laboratorios mas grandes en el pais</p>
                            <div class="d-flex align-items-center mb-3">
                                <div class="me-3 text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                         class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </div>
                                <div>
                                    <p class="fs-5 m-0">Trabajamos siempre con las máquinas más modernas del
                                        mercado.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="me-3 text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                         class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </div>
                                <div>
                                    <p class="fs-5 m-0">Mantenemos un standard de calidad con cada producto siendo
                                        revisado a mano por especialistas.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-4 mb-xl-5">
                                <div class="me-3 text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                         class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                </div>
                                <div>
                                    <p class="fs-5 m-0">Nuestras líneas de contacto siempre están abiertas para más
                                        information.</p>
                                </div>
                            </div>
                            <button type="button" class="btn bsb-btn-xl btn-outline-primary rounded-pill">Contactanos
                                hoy!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container bg-light">
        <div class="row m-4 p-2 justify-content-around">
            <div class="text-center mt-4 font-times">
                <h2 class="fw-bold">Testimonios</h2>
                <p class="fs-5">Lo que nuestros clientes dicen sobre nosotros.</p>
            </div>
            <div class="col-md-3 m-2">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="person">
                            <div class="person-container">
                                <img class="person-circle" src="static/Images/freepik__adjust__61084.png" alt="">
                                <img class="person-img" src="static/Images/testing-removebg-preview.png" alt="">
                            </div>
                        </div>
                        <h5 class="mt-3">Dr. Felipe Crespo</h5>
                        <p>Biodent ha trabajado conmigo los últimos 5 años y han sido super rápidos y precisos con sus
                            trabajos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 m-2">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="person">
                            <div class="person-container">
                                <img class="person-circle" src="static/Images/freepik__adjust__61084.png" alt="">
                                <img class="person-img" src="static/Images/testing2-removebg-preview.png" alt="">
                            </div>
                        </div>
                        <h5 class="mt-3">Dr. Juan Orquídeas</h5>
                        <p>Biodent ha trabajado conmigo los últimos 5 años y han sido super rápidos y precisos con sus
                            trabajos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 m-2">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="person">
                            <div class="person-container">
                                <img class="person-circle" src="static/Images/freepik__adjust__61084.png" alt="">
                                <img class="person-img" src="static/Images/testing3-removebg-preview.png" alt="">
                            </div>
                        </div>
                        <h5 class="mt-3">Dr. Benjamin Intrigo</h5>
                        <p>Biodent ha trabajado conmigo los últimos 5 años y han sido super rápidos y precisos con sus
                            trabajos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Escríbenos Form -->
    <div class="container" style="background-color: #00072D">
        <div class="row section-block">
            <div class="text-start text-light mx-auto align-items-center" style="max-width: 500px;">
                <h1>Descubre cómo enviar tu primer caso</h1>
                <p>
                    Para más información sobre precios, servicios y tecnologías, contáctanos a nuestros números <br>
                    o llena este formulario y nos pondremos en contacto contigo lo antes posible.
                </p>
            </div>
            <div class="col-md-6 bg-white p-4 rounded mx-auto shadow">
                <h2 class="mb-4 fw-bold text-center">¡Escríbenos!</h2>
                <form class="shadow">
                    <!-- Nombre -->
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white border-0"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control border-0" placeholder="Nombre" required>
                    </div>

                    <!-- Email -->
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white border-0"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control border-0" placeholder="Email" required>
                    </div>

                    <!-- Teléfono -->
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white border-0"><i class="bi bi-telephone"></i></span>
                        <input type="tel" class="form-control border-0" placeholder="Teléfono">
                    </div>

                    <!-- Clínica -->
                    <div class="mb-3 input-group">
                        <span class="input-group-text bg-white border-0"><i class="bi bi-clipboard-plus"></i></span>
                        <input type="text" class="form-control border-0" placeholder="Clínica">
                    </div>

                    <!-- Mensaje -->
                    <div class="mb-3">
                        <textarea class="form-control border-0" placeholder="Tu mensaje..." rows="5"
                                  required></textarea>
                    </div>

                    <!-- Send Button -->
                    <button type="submit" class="btn btn-success w-100 text-white fw-bold">Enviar</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
