{% extends "base.html" %}

{% block content %}

    <div class="container section-block mx-2" style="background-color: #00072D" id="encerado">
        <div class="col-md-7 text-light p-5">
            <h1>Encerado de Diagnostico</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                Idealmente todos sus casos deberían partir de un
                encerado de diagnostico, este es un servicio que
                también lo ofrecemos, haciendo un diseño de lo que se
                espera obtener como resultado final y lo enviamos en
                un modelo impreso para que puedan obtener el mock
                up para su paciente.
            </p>
        </div>
        <div id="enceradoCarousel" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#enceradoCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#enceradoCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container section-block" id="implantología">
        <div id="carouselImplant" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImplant"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImplant"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-md-7 p-5">
            <h1>Implantología</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                En área de implantología, la impresión digital vino a
                revolucionar y simplificar el proceso. Tan sencillo como
                colocar pilares digitales en la boca del paciente para
                escanearlos y el software se encarga de leer los datos
                exactos tanto de la dirección como de la profundidad del
                implante, para poder rehabilitarlo.
            </p>
        </div>

    </div>

    <div class="container section-block mx-2" style="background-color: #00072D" id="impresiónDigital">

        <div class="col-md-8 p-5 text-light">
            <h1>Impresión digital</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                Todos sus casos incluyen el servicio de impresión digital con
                scanner SIN COSTO ADICIONAL, esto se maneja a través de
                agendamiento de citas coordinando día y hora para
                acercarnos a escanear a su paciente.
            </p>
        </div>
        <div id="carouselImpresion" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImpresion"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImpresion"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container section-block" id="áreaClínica">
        <div id="carouselAreaClinica" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAreaClinica"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAreaClinica"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-md-7 p-5">
            <h1>Área Clínica</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                Biodent también implemento un área clínica, tanto en asuntos de
                planificación o asesoría para sus casos, como un área física, es
                decir disponemos de una unidad dental dentro de nuestras
                instalaciones donde podemos recibirle con su paciente ya sea
                para escanear, realizar la prueba en boca, revisar color, o tratar
                cualquier complicación que se presente con su caso.
            </p>
        </div>

    </div>

    <div class="container section-block" style="background-color: #00072D" id="serviciosExpress">
        <div class="col-md-7 p-5 text-light">
            <h1>Servicio Express</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                Otro de nuestros servicios mas requeridos son los
                trabajos express (urgentes) donde nos
                comprometemos a entregar su trabajo en tiempo
                record, con un pequeño recargo al valor normal.
            </p>
        </div>
        <div id="carouselServicioExpress" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicioExpress"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselServicioExpress"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container section-block" id="beneficios">

        <div id="carouselBeneficios" class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/Images/Ofrecemos_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="static/Images/Ofrecemos_4.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBeneficios"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBeneficios"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-md-7 p-5">
            <h1>Beneficios</h1>
            <p class="lead fs-4 mb-3 mb-xl-5">
                Y por supuesto el mejor beneficio lo tienen nuestros estudiantes,
                sabemos lo difícil que es la práctica estudiantil por eso con tan
                solo presentar su carnet, acceden automáticamente a un
                descuento del
                15% en todos sus casos.
                Y en asuntos de garantía, Biodent repite sus casos sin ningún
                costo cuando presentan alguna fractura o fisura y esta cobertura
                es de 1 año.
            </p>
        </div>

    </div>

{% endblock %}
